{# set vars #}

{% set heading = self.heading %}
{% set size = self.size %}

{# get vars #}

{# MARKUP #}



<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1">
       <{{size}} class="page-heading"> {{ heading }} </{{size}}>
    </div>
  </div>
</div>
